body {
    font-family: Arial;
    text-align: center;
}

#gameGrid {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(5, 80px);
    gap: 4px;
    width: fit-content;
}

.cell {
    width: 80px;
    height: 80px;
    background: #e8e8e8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.layout {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.sidePanel {
    width: 200px;
}

#components {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 5px;
    background: #e8e8e8;
}

@keyframes floatShake {
    0%   { transform: translate(0px, 0px) rotate(0deg); }
    25%  { transform: translate(5px, -5px) rotate(-5deg); }
    50%  { transform: translate(-5px, 5px) rotate(5deg); }
    75%  { transform: translate(5px, 5px) rotate(-5deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}

.component {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    margin: 20px;

    border-radius: 15px;

    animation: floatShake 2s infinite ease-in-out;
}
.component.selected {
    border: 2px solid blue;
}

.element {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.correct {
    background-color: #b6ffb6;
}

.wrong {
    animation: shake 0.3s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}