.bulbs {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px;
}

.bulb {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #444;
    transition: 0.3s;
}

.bulb.on {
    background: gold;
    box-shadow: 0 0 20px gold;
}

.switches {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.switch-btn:hover {
    scale: 1.1;
    transition: 0.1s;
}

.switch-btn {
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    font-size: 20px ;
    font-weight: bold;

    background: #444;
    color: white;

    transition: 0.1s;
}

.switch-btn.active {
    background: gold;
    color: black;
    box-shadow: 0 0 20px gold;

    transition: 0.1s;
}